.feynman__link {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 48px;
    z-index: 1;
    
  }