.two-columns__brief {
    display: flex;
    flex-direction: row;
    min-width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-style: normal;
    margin-right: 50px;
    
  }
  
  .two-columns__brief:first-of-type {
    color:  #2f80ed;
    font-weight: normal;
    margin: 0;
    padding: 0;
    
  }