.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  background-color: #f2f2f2;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
  
}

.logo {
  width: 183px;
  z-index: 2;
  background-repeat: no-repeat;

  }

.logo_place_header {
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;

}

.header__title {
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  margin: 0 0 0 64px;
  padding: 0;
  line-height: 96px;
  z-index: 2;
    
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  text-align: left;
  font-size: 18px;
  line-height: 25px;
  z-index: 2;
  margin: 0;
  padding: 0;

}

.header__link {
  color:  #2f80ed;
  text-decoration: none;

}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  z-index: 1;

}


/* DESCRIPTION */

.description {
  justify-items: center;
  
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto 0 auto;
    
}

.two-columns__brief {
  display: flex;
  flex-direction: row;
  min-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  margin-right: 50px;
    
}

.two-columns__brief_link {
  color:  #2f80ed;
  font-weight: normal;
  margin: 0;
  padding: 0;
  
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  justify-content: space-between;
  
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  
}

.two-columns__paragraph_margin {
  margin: 30px 0 30px 0;
  
}

.two-columns__span-accent {
  font-weight: bold;
  
}


/* DIGITS */

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  
}

.section-title {
  display: flex;
  width: 60%;
  justify-content: center;
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  
}

.section-subtitle {
  display: flex;
  width: 60%;
  justify-content: center;
  margin: 20px 0 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 0 auto;
  
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  list-style-type: none;
  
}

.table__heading {
  line-height: 1.15;
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 20px 0;
  
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;

}

.table__text_margin {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
}


/* FEYNMAN */

.feynman {
  min-height: 890px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  align-items: flex-start;
  margin-top: 100px;
  
}

.feynman__title {
  width: 648px;
  margin: 0 0 70px 0;
  padding: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  display: block;
  align-self: center;
  text-align: center;
  z-index: 1;
  
}

.feynman__subtitle {
  margin: 0;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  display: block;
  align-self: center;
  z-index: 1;
  
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 1;
  
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;  
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;

}


/*KAUFMAN*/


.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;

}


.section-title_theme_dark {
  margin: 90px 0 20px 0;
  color: white;
  z-index: 1;
  
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
  margin: 0;
  
}

.table_theme_dark {
  margin: 0 auto 90px auto;
  z-index: 1;
  
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 0 0;
  
}

.table__heading_theme_dark {
  color: white;
    
}

.table__text_theme_dark {
  color: white;
  
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 0;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;

}

/*FOOTER*/

.footer {
  display: flex;
  min-height: 350px;
  justify-items: center;
  background-color: #1f1f1f;
  
}

.footer__columns {
  width: 90%;
  display: flex;
  margin: 60px auto 40px auto;
  
}

.footer__column {
  display: flex;
  flex-direction: column;

}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
  
}

.footer__column_content_info {
  display: inline-block;
  margin-left: auto;
  
}

.footer__column_content_social {
  display: inline-block;
  margin-left: auto;
  
}


.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  height: 35px;
  display: block;

}



.footer__author {
  margin: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  display: block;
  color: white;

}

.footer__column-heading {
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;

}

.footer__column-links {
  margin: 0;
  padding: 0;

}

.footer__social-icon {
  width: 16px;
  height: 16px;
  align-self: center;
  margin-right: 10px;

}

.footer__column-link {
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: inline-block;
  display: flex;
  color: white;
  text-decoration: none;

}










